
<div class="questions_container">

  <h1><span class="title"><%= @question.title %></span></h1>

  <div class="question_holder">

    <div class="question_content_holder">
      <div class="question_details_holder">
        <% if @upvote.nil? %>
          <%= render partial: "shared/vote_box", locals: {:id => @question.id, :route => 'q', votes: @question.info[:total_votes] } %>
        <% else %>
          <%= render partial: "shared/selected_vote_box", locals: {:id => @question.id, :route => 'q', votes: @question.info[:total_votes] } %>
          <% end %>
        <%= render partial: "shared/user_specs", locals: {name: @maker}  %>
      </div>
      <span class="content">
      <%= @question.content %>
      </span>
    </div>


  </div>
  <%= form_for [@question, Comment.new] do |f| %>
  <br>
    <%= f.text_area :content, size: "60x5", class:"new_comment_content", placeholder:"Your Comment" %>
    <br>
    <%= f.submit %>
  <% end %>
  <br>


  <h2>Comments</h2>

  <% @question.comments.each do |comment| %>

  	<p><%= comment.content %></p>
  	<% if comment.comments.any? %>
  		<% comment.comments.each do |c| %>
  			<ul>
  				<li><%= c.content %></li>
  			</ul>
  		<% end %>
  	<% end %>
  	<p><br><em>-- <%= link_to "Respond to this answer", comment_path(comment) %></em></p>
  <% end %>

</div>

<script type="text/template" id="vote-template">
</script>
