<h1><%= @question.title %></h1>

<div class="vote_box">
	<div class="voter up" data-route="q-<%= "#{@question.id}" %>"></div>
	<div class="voter down" data-route="q- <%= "#{@question.id}" %>"></div>
</div>
<div class="question_box"><%= @question.content %></div>
<br>
<br>
<div><%= link_to "Edit", edit_question_path, class: "edit-button" %></div><br><br>

<%= form_for [@question, Comment.new] do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content, size: "60x12" %>
  <br><%= f.submit %>
<% end %><br>

<h2>Comments</h2>

<% @question.comments.each do |comment| %>

	<p><%= comment.content %></p>
	<% if comment.comments.any? %>
		<% comment.comments.each do |c| %>
			<ul>
				<li><%= c.content %></li>
			</ul>
		<% end %>
	<% end %>
	<div class="comment_response_form" id="<%= comment.id %>">
		<%= form_for [@question, @comment, Comment.new] do |f| %>
		  <%= f.label :content %><br>
		  <%= f.text_area :content, size: "60x12" %>
		  <br><%= f.submit %>
		<% end %><br>
	</div>
	<p><br><em>-- <a href="<%= comment_url %>" class="respond_to_comment" id="<%= comment.id %>">Respond to this answer</a></em></p>

<% end %>