<h1><%= @question.title %></h1>

<p><%= @question.content %></p>

<%= link_to "Edit", edit_question_path, class: "edit-button" %><br><br>

<%= form_for :comment, url: {action: "create"} do |f| %>
  <%= f.label :comment %><br>
  <%= f.text_area :content %>
  <%= hidden_field_tag(commentable_id: @question.id) %>
  <%= hidden_field_tag(commentable_type: "Question") %>
  <br><%= f.submit %>
<% end %>