<div class="vote_box">
  <div class="voter up <%= "selected" if @upvote %> " data-true="true" data-route="<%= "#{route}" %>-<%= "#{id}" %>">
    <i class="fa fa-angle-up"></i>
  </div>
  <div class="vote_holder">
    <%= votes %>
  </div>
   <div class="voter down <%= "selected" unless @upvote %>" data-true="false" data-route="<%= "#{route}"%>-<%= "#{id}" %>">
    <i class="fa fa-angle-down"></i>
   </div>
</div>