<div class="vote_box">
  <div class="vote_button_holder">
  <div class="voter up" data-true="true" data-route="<%= "#{route}" %>-<%= "#{id}" %>"></div>
  <div class="voter down" data-true="false" data-route="<%= "#{route}"%>-<%= "#{id}" %>"></div>
</div>
  <div class="vote_holder"><%= votes %>
  </div>
</div>
